* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 100px;
  z-index: 1;
  font-size: 20px;
}
.logo img {
  width: 140px;
}

header .nav {
  list-style: none;
  display: flex;
  position: relative;
}
header .nav a {
  display: block;
  text-decoration: none;
  padding: 5px 20px;
  color: #ff6b81;
  border-radius: 4px;
}
header .nav a:hover {
  color: #fff;
  background: #ff6b81;
}
/* pháº§n search */
.container-search {
  background: url("./img/bg.jpg");
  background-position: left;
  position: relative;
  height: 166px;
  margin-top: 50px;
}
.container-search img {
  width: 100%;
  padding: 0 100px;
}
.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.form {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
}
.text-search {
  width: 450px;
  padding: 10px;
  font-size: 20px;
}
.button-search {
  width: 120px;
  margin-left: 5px;
  background: #ff6b81;
  color: #fff;
  cursor: pointer;
}
.Explore-Foods {
  text-align: center;
  padding-bottom: 41px;
}
.foodlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.heading {
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
.foodlist-item {
  position: relative;
}
.foodlist-item-img {
  height: 400px;
  border-radius: 12px;
}
.foodlist-item-title {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, -50%);
  color: #fff;
}
.FoodMenu {
  background: #ccc;
  width: 100%;
}
.food-menu {
  display: grid;
  grid-gap: 25px 25px;
  grid-template-columns: 1fr 1fr;
  padding: 0 149px;
  border-radius: 36px;
}
.food-menu-items {
  background: #fff;
  display: flex;
  border-radius: 14px;
  padding: 25px 20px;
}
.food-menu-items img {
  width: 99px;
  height: 99px;
  margin-right: 15px;
  border-radius: 8px;
}
.food-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98px;
}
.btn-oder {
  width: 89px;
  height: 24px;
  outline: none;
  background: #ff6b81;
  border: none;
  color: #fff;
  cursor: pointer;
}

.See-All-Foods {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 60px;
  color: #ff6b81;
}
.container-icon {
  display: flex;
  justify-content: space-around;
  padding: 0 670px;
  align-items: center;
  margin-top: 30px;
}
.container-icon img {
  height: 50px;
}
.description-author {
  text-align: center;
  margin-top: 40px;
}
.description-author-links {
  color: #ff6b81;
}
